  <%- include ('../partials/header', {tituloWeb: 'Perfil' }) -%>

  <body>
    <main class="home colorFondo">
      <section>
        <div class="in-flex">
          <div>
            <div class="in-flex">
              <header>
                <nav class="navbar navbar-expand-lg navbar-light colorPrincipal">
                  <div class="container-fluid">
                    <img src="../../img/jun.png" alt="logo" width="30" height="30">
                    <a class="navbar-brand text-light" href="inicio">Job <span class="unite">Unite</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link text-light" aria-current="page" href="#">Mensajes</a>
                        </li>
                        <!-- NOTIFICACIONES -->
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Notificaciones
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../solicitudes">Solicitudes</a></li>
                            <li><a class="dropdown-item" href="../novedades">Novedades</a></li>
                            <li>
                              <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Seguridad</a></li>
                          </ul>
                        </li>
                      </ul>

                      <!-- ICONO USUARIO -->
                      <div class="dropdown p-4">
                        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
                          id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="../../img/icon.png" alt="pfp" width=" 32" height="32" class="rounded-circle me-2">
                          <strong class="text-light">Usuario</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                          <li><a class="dropdown-item" href="#">Ajustes</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" href="../index">Cerrar sesion</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
              </header>

              <!-- PERFIL-->
              <div class="container py-4">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="card">
                      <img src="../../img/icon1.png" class="card-img-top img-fluid" width="50px" height="100px" alt="Perfil de usuario">
                      <div class="card-body text-center">
                        <h5 class="card-title">Nombre y Apellido</h5>
                        <a href="perfil/editar-perfil-usuario" class="btn btn-primary">Editar perfil del postulante</a>
                        <div class="spacer"></div>
                        <a href="perfil/editar-perfil-empresa" class="btn btn-primary">Editar perfil de la empresa</a>
                        <div class="spacer"></div>
                        <!-- CALIFICACION CON ESTRELLAS -->
                        <h6>Calificación con estrellas:</h6>
                        <div class="rating">
                          <input type="radio" id="star5" name="rating" value="5">
                          <label for="star5"></label>
                          <input type="radio" id="star4" name="rating" value="4">
                          <label for="star4"></label>
                          <input type="radio" id="star3" name="rating" value="3">
                          <label for="star3"></label>
                          <input type="radio" id="star2" name="rating" value="2">
                          <label for="star2"></label>
                          <input type="radio" id="star1" name="rating" value="1">
                          <label for="star1"></label>
                        </div>
                        <p id="selectedRating"></p>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- FORMULARIOS-->
                <div class="col-md-8 col-sm-12 py-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Informacion basica</h5>
                      <div class="table-responsive">
                        <ul class="list-group table">
                          <li class="list-group-item">Nombre y apellido</li>
                          <li class="list-group-item">Tipo de Usuario</li>
                          <li class="list-group-item"></li>
                        </ul>
                      </div>
                    </div>

                    <div class="card-body">
                      <h5 class="card-title">Experiencia Laboral</h5>
                      <div class="table-responsive">
                        <ul class="list-group table">
                          <li class="list-group-item">Nombre y apellido</li>
                          <li class="list-group-item">Tipo de Usuario</li>
                          <li class="list-group-item"></li>
                        </ul>
                      </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="py-3 text-center">
            <a href="#" class="btn btn-primary">Eliminar cuenta</a>
          </div>
      </section>
    </main>
  <%- include ('../partials/footer') -%>