footer {
    padding-bottom: 10px;
    padding-top: 30px;
    background-color: #0b2e59
}

.colorPrincipal {
    background-color: #0b2e59
}


.color1 {
    background-color: #343838
}

;


;

.color3 {
    background-color: #008c9e
}

;

.color4 {
    background-color: #00b4cc
}

;

.color5 {
    background-color: #00dffc
}

;