<%- include ('../partials/header', {tituloWeb: 'Login' }) -%>


<body class="colorFondo">

    <!-- BARRA DE NAVEGACION-->
      <header>
        <nav class="navbar navbar-expand-lg navbar-light colorPrincipal">
          <div class="container-fluid">
            <div class="d-flex align-items-center"> 
            <img src="../../img/jun.png" alt="logo" width="30" height="30">
            <a class="navbar-brand text-light" href="/index">Job <span class="unite">Unite</span></a>
          </div>
        </div>
          </nav>
      </header>
  
    <main class="py-5">
  <form action="#" id="formLogin">
      <div class="d-flex justify-content-center align-items-center">
        <div class="bg-light p-3 rounded-5" style="border: 1px solid #000;">
          <!-- Contenido del contenedor -->
          <div class="d-flex justify-content-center">
            <img src="../../img/userIcon1.png" alt="login-icon" style="height: 5rem" />
          </div>
          <div class="text-center fs-3 fw-bold">Login</div>
  
          <div class="input-group mt-3">
            <div class="input-group-text bg-primary">
              <img src="../../img/user-solid.svg" alt="username-icon" style="height: 1rem" />
            </div>
            <input class="form-control" type="text" placeholder="Nombre de usuario o correo" id="nombreEmail" name="nombreEmail" required/>
          </div>
  
          <div class="input-group mt-1">
            <div class="input-group-text bg-primary">
              <img src="../../img/lock-solid.svg" alt="password-icon" style="height: 1rem" />
            </div>
            <input class="form-control" type="password" placeholder="Contraseña" id="contraseña" name="contraseña" required/>
          </div>
  
          <div class="d-flex justify-content-around mt-2">
            <div class="d-flex align-items-center gap-1">
              <input class="form-check-input" type="checkbox" />
              <div class="pt-1" style="font-size: 0.8rem">Recuerdame</div>
            </div>
            <a href="#" class="text-decoration-underline text-dark pt-1" style="font-size: 0.8rem ">¿Olvidó su contraseña?</a>
          </div>

          <div class="pt-3 text-center">
          <button type="submit" class="btn btn-primary text-center">Iniciar sesión</button>
          </div>
  
          <div class="mt-3 text-center">
            <div>¿No tienes una cuenta?</div>
            <a href="registro-user">Registrarse</a>
          </div>
  
          <div class="p-3">
            <div class="border-bottom text-center" style="height: 0.9rem">
              <span class="bg-light px-3">o</span>
            </div>
          </div>
  
          <div class="btn d-flex gap-2 justify-content-center border mt-3">
            <img src="../../img/logoGoogle.jpg" alt="google-icon" style="height: 1.6rem" />
            <div class="fw-semibold text-secondary shadow-sm">Continuar con Google</div>
          </div>
  
        </div>
      </div>
    </form>
    </main>

    <script src="../../js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <%- include ('../partials/footer') -%>