<%- include ('../partials/header', {tituloWeb: 'Registro de Usuario' }) -%>

    <body>

        <header>
            <nav class="navbar navbar-expand-lg navbar-light colorPrincipal">
                <div class="container-fluid">
                    <div class="d-flex align-items-center">
                    <img src="../../img/jun.png" alt="logo" width="30" height="30" class="p-1">
                    <a class="navbar-brand text-light" href="../index">Job Unite</a>
                    </div>
                </div>
            </nav>
        </header>

        <!--registro-->
        <main class="p-4 d-flex justify-content-center align-items-center colorFondo">
            <div class="p-3 bg-white rounded-2 contenedor" style="width:20rem">
                <form action="#" class="row g-7" id="formRegistro">
                    <div class="col-md-12">
                        <label class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" placeholder="nombre de usuario" id="user_name" name="user_name" required>
                    </div>
                    <span id="mensajeNAME" class="form-text" >El nombre de usuario debe tener mas de 6 digitos</span>

                    <div class="col-md-12">
                        <label class="form-label">Ingrese su email</label>
                        <div class="input-group">
                            <input  type="email" class="form-control" placeholder="name@example.com" id="user_email" name="user_email" required>
                        </div>
                        <span id="mensajeEmail" class="form-text">Puede contener caracteres especiales ,letras
                            de la A a Z y
                            numeros
                        </span>


                        <div class="col-md-12">
                            <label class="form-label text">Repetir email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="validarEmail" name="validarEmail" placeholder="name@example.com" required>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="col-md-5">
                            <label for="exampleFormControlPassword6" class="form-label">Contraseña</label>
                        </div>

                        <input type="password" class="form-control" id="user_password" name="user_password" placeholder="#########" required>
                        <span id="mensajePass" class="form-text">Minimo de 9 caracteres (caracteres especiales letras de la A a Z y numeros)
                        </span>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="form-label">Repetir contraseña</label>
                            <input type="password"  class="form-control"
                            id="validarPass" name="validarPass" placeholder="#########" required>

                        </div>
                        <div class="text-center py-5">
                            <button type="submit" id="registro" class="btn btn-primary">Registrarse/Continuar</button>
                            <button type="reset" id="cancelar" class="btn btn-secondary">Cancelar</button>
                        </div>
                </form>
            </div>

        </main>

    <script src="../../js/registro.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include ('../partials/footer') -%>