/* ESTILO GENERALES */
.colorPrincipal {
  background-color: #0b2e59
}

footer {
  padding-bottom: 10px;
  padding-top: 30px;
  background-color: #0b2e59;
}

.colorFondo {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(19, 153, 216, 0.7550478809687937) 55%, rgba(2, 0, 36, 1) 100%);
}


.unite{
  color: aqua;
}

/* ESTILO DE LA LANDING PAGE */

.landing {
  background-image: url(../img/landing.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  background-attachment: fixed;
}

.underline{
  text-decoration: underline;
}

.custom-bg{
  background-color: rgba(19, 153, 216, 0.3);
}


/* PERFIL USUARIO */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating>input {
  display: none;
}

.rating>label {
  display: inline-block;
  font-size: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: gray;
}

.rating>label:before {
  content: "\2605";
}

.rating>input:checked~label:before {
  content: "\2605";
  color: gold;
}

.spacer {
  margin-top: 20px;
}
.text-center{
  text-align: left;
}
.text-light{
  text-justify: left;
}