.body{
  background-color: aliceblue;
}
.home{
  display: flex;
  flex-wrap: wrap;
}
.in-flex{
  flex:1;
  min-width: 250px;
 
}
.in-flex.first-child{
flex: 2;
padding:25px;
background-color: white;
margin: bottom 0px; ;
} 
.in-flex div{
padding:25px;
background-color: white;
margin: 20px;
}
.image-container {
  width: 150px;
  height: 100px;
}

.resize {
  width: 50%; 
  height: auto; 
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .attempts-message {
    color: #999;
    margin-bottom: 10px;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 20px;
  }
  .spacer {
    margin-top: 40px;
  }
