main{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,153,216,0.7550478809687937) 55%, rgba(2,0,36,1) 100%);
padding-bottom: 11px;
padding-top: 12px;
}


  
.message1 {
  display: none;
}
.message2 {
  display: none;
}
.message3 {
  display: none;
}
.color{
    background-color:#0b2e59;
}
.registro{
  padding-left:300px ;
  padding-right:150px ;
}
.textBody{
    color: white;
}
.botons{
    padding-top: 10px;
}
.text{
    color: white;
}
.contenedor{
    padding-left: 12px ;
}

.container{
  padding-right:150px ;
  padding-left:250px ;
}

.texto{
    font-style: italic;
    font-size: large;
  }
.company{
    color: white;
  }
.company{
    padding-left: 550px;
  }
  
